.DS_Store
.tmp_helpdesk_public_*.html

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
logs/

.env
.env.*

node_modules/
.venv/
venv/

enterprise/
addons/server-tools/
addons/v17/helpdesk/
addons/v17/knowledge/
addons/v17/management-system/
addons/v17/project/
addons/v17/timesheet/
addons/v17/web/
addons/v17/website/

ks v17/
